name: simple echo

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      First-Name:
        description: your firstname 
        required: false
      Last-Name: 
        description: your lastname 
        required: false
        default: Nobody
        
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4.1.1
      - name: hello
        run: |
          chmod +x hello.sh
          ./hello.sh
  goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4.1.1
      - name: hello
        run: echo "bye ${{ github.event.inputs.First-Name }} {{ github.event.inputs.Last-Name }}"
  
